body {
    background: linear-gradient(90deg, rgba(245, 186, 206) 0 50%,#001E87 50% 100% );
    margin: 0;
    font-family: "Source Sans 3", sans-serif;
    display: flex;
    justify-content: space-around;
    @media screen and (max-width:1076px) {
        display: flex;
        flex-direction: column;
        background: linear-gradient(180deg, rgba(245, 186, 206) 0 50%,#001E87 50% 100% );
        justify-content: space-around;
    }
}
#cardmessi {
    background-color: rgb(35, 31, 32);
    margin-top: 40px;
    width: 436px;
    height: 608px;
    border-radius: 20px;
    @media screen and (max-width:1076px) {
        height: 650px;
        padding-bottom: 10px;
        margin: 20px auto 20px;
        width: 400px;
    }
}
#escudomiami {
    width: 200px;
    height: 200px;
    position: absolute;
}
#messimg {
    height: 320px;
    position: absolute;
    width: auto;
    margin-top: 20px;
    margin-left: 140px;
}
#estatisticasmessi {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 200px;
    font-weight: bold;
    position: relative;
    text-align: justify;
    color: #F7B5CD;
}
#card {
    width: 436px;
    height: 608px;
    background-color: #FFEE00;
    margin: 40px 0 40px;
    border-radius: 20px;
    @media screen and (max-width:1076px) {
        height: 670px;
        padding-bottom: 10px;
        margin: 20px auto 20px;
        width: 400px;
    }
}
#backcr7 {
    width: 436px;
    height: 608px;
    border-radius: 20px; 
    position: absolute;
    margin: auto;
    opacity: 0.3;
    @media screen and (max-width:1076px) {
        width: 400px;
        height: 670px;
    }
}
#escudo {
    width: 180px;
    height: 180px;
    position: absolute;
}
#cr7 {
    width: 270px;
    height: 360px;
    position: absolute;
    margin-top: 0px;
    margin-right: 100px;
    margin-left: 180px;
}
#estatisticascr7 {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 180px;
    font-weight: bold;
    color: #001E87;
    position: relative;
    text-align: justify;
}